section {
    margin-top: 12.3rem;
}

.section__header {
    background: url("./../images/header-bg.png") no-repeat center;
    background-size: cover;
}

.section__services {
    margin-top: 22.5rem;
    position: relative;

    .services__decore {
        position: absolute;
        top: 0;
        right: -15rem;
    }
}

.section__book {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 790px) {
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
}

.section__testimonials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
    @media (max-width: 790px) {
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
}

.logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logos__item {
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }

    @media (max-width: 790px) {
        width: 90%;
    }
    
}
